@page "/Genres/{genreId}"
@using BookShopApp.Shared
@inject HttpClient Http

<PageTitle>Books</PageTitle>

@* <h1>Книги жанра @genreId</h1> *@


@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var book in books)
        {
            @* <li>@book.Title</li> *@
            <li><a href="/Genres/@genreId/@book.Id"> @book.Title</a></li>
        }
    </ul>
}


@code {
    [Parameter]
    public string genreId { get; set; }

    private List<Book> books { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //books = await Http.GetFromJsonAsync<List<Book>>($"api/Books/GetBooksByGenre/{genre}");
        books = await Http.GetFromJsonAsync<List<Book>>($"/Genres/{genreId}");
    }
}
