@page "/Genres"
@using BookShopApp.Shared
@inject HttpClient Http


<PageTitle>Genres</PageTitle>

<h1>Жанры книг</h1>

@if (genres == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var genre in genres)
        {
            <li><a href="/Genres/@genre.Id">@genre.Title</a></li>
            @* <li><a asp-page="./Genres/@genre.Id" asp-route-id="@genre.Id">@genre.Title</a></li> *@
        }
    </ul>
}

@code {
    private List<Genre> genres { get; set; }

    protected override async Task OnInitializedAsync()
    {
        genres = await Http.GetFromJsonAsync<List<Genre>>("/Genres");
    }
}
