@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* @code {
    
}
@foreach (var category in )
{
    <div>
        @Html.ActionLink(@category.Name, "BooksList", "Books", new { categoryID = category.ID })
    </div>
} *@



<SurveyPrompt Title="How is Blazor working for you?" />
