<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoConnection" connectionString="mongodb://localhost:27017" />
  </connectionStrings>
  <appSettings>

    <add key="MongoDbName" value="books_db" />
    <add key="FeedbackCollectionName" value="feedbacks"/>
    <add key="BooksCollectionName" value="books"/>
    <add key="GenresCollectionName" value="genres"/>
    <add key="RabbitMqString" value="amqps://vxngjiis:EyAnmCZGndIu_Dl_DFmCwXdg_PGcU6pi@cow.rmq2.cloudamqp.com/vxngjiis"/>
  </appSettings>
</configuration>